# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno (pueden tener contraseñas)
.env

# Bases de datos locales (SQLite)
*.db
*.sqlite
*.sqlite3

# Editores y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
